
.h2 {
    color:#1d1d1d;
    font-family: 'GT Eesti Pro Text', sans-serif;
    font-weight: normal;
    font-size: 230px;
    line-height: 78%;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 10px;
}

body {
    background-color: white
}

.home-images {
    display: flex;
    margin-top: 0;
    margin-left: 20vh;
    margin-right: 20vh;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-image {
    width: 320px;  
    height: 100%;
    background-color: yellow;
    margin-top: 30px;
}

.ikea-goods{
    color:#393939;
    font-family: 'GT Eesti Pro Text', sans-serif;
    font-weight: normal;
    font-size: 25px;
    padding: 0%;
    max-width: 320px;
    margin-top: 5px;
    text-align: center;
}


a:link {
    text-decoration: none;
    cursor: pointer;

}

a:hover {

}

.item {
    width: 340px;
    height: 100%;
}

h3 {
    color:#393939;
    font-family: 'GT Eesti Pro Text', sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: auto;
    width: 660px;
}

.about {
    margin: 15px;
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around
    /* flex-wrap: wrap; */
}